---
// Este es tu componente Header
---

<header class="bg-gradient-to-b from-blue-400 via-blue-200  to-blue-10 p-6">
    <div class="max-w-4xl mx-auto flex justify-between items-center">
      <img src="/public/img/today-removebg-preview.png" alt="Logo de la App" class="max-h-14 w-auto" />
      <nav>
        <ul class="flex space-x-6">
          <li><a href="/" class="text-gray-900   hover:text-blue-800  font-bold">Inicio</a></li>
          <li><a href="/acerca" class="text-gray-900  hover:text-blue-800 font-bold">Acerca</a></li>
          <li><a href="/contacto" class="text-gray-900  hover:text-blue-800 font-bold">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
  